# ATTENTION ! For AMD GPU only on Windows, install all commented below.
# See documentation here : https://rocm.docs.amd.com/projects/radeon-ryzen/en/latest/docs/install/installrad/windows/install-pytorch.html

# @ https://repo.radeon.com/rocm/windows/rocm-rel-7.2/rocm_sdk_core-7.2.0.dev0-py3-none-win_amd64.whl
# rocm_sdk_core-7.2.0.dev0-py3-none-win_amd64

# @ https://repo.radeon.com/rocm/windows/rocm-rel-7.2/rocm_sdk_devel-7.2.0.dev0-py3-none-win_amd64.whl
# rocm_sdk_devel-7.2.0.dev0-py3-none-win_amd64

# @ https://repo.radeon.com/rocm/windows/rocm-rel-7.2/rocm_sdk_libraries_custom-7.2.0.dev0-py3-none-win_amd64.whl
# rocm_sdk_libraries_custom-7.2.0.dev0-py3-none-win_amd64

# @ https://repo.radeon.com/rocm/windows/rocm-rel-7.2/rocm-7.2.0.dev0.tar.gz
# rocm-7.2.0.dev0

# @ https://repo.radeon.com/rocm/windows/rocm-rel-7.2/torch-2.9.1%2Brocmsdk20260116-cp312-cp312-win_amd64.whl
# torch-2.9.1+rocmsdk20260116-cp312-cp312-win_amd64

# @ https://repo.radeon.com/rocm/windows/rocm-rel-7.2/torchaudio-2.9.1%2Brocmsdk20260116-cp312-cp312-win_amd64.whl
# torchaudio-2.9.1+rocmsdk20260116-cp312-cp312-win_amd64

# @ https://repo.radeon.com/rocm/windows/rocm-rel-7.2/torchvision-0.24.1%2Brocmsdk20260116-cp312-cp312-win_amd64.whl
# torchvision-0.24.1+rocmsdk20260116-cp312-cp312-win_amd64

ultralytics
sentinelhub
numpy
pillow
requests
pyproj
shapely
opencv-python
streamlit
folium
geopandas
python-dotenv
black
pytest
jupyter
ruff
pytest-cov
pytest-mock